{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-assign",
    "syntax-dynamic-import",
    "dynamic-import-webpack",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}
