.main {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;

  .logo {
    width: 100px;
    height: 100px;
  }

  h2.title {
    color: #fa541c;
    font-size: 24px;
  }
  .examples {
    border-bottom: 1px dashed;
    display: inline-block;
    margin-top: 30px;
    &:link,
    &:visited {
      color: #389e0d;
      padding: 3px 10px;
      text-decoration: none;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: #1890ff;
    }
  }
}
