<style>
  body { margin: 0; }
  #pl { height: 100%; width: 100%; position: fixed; z-index: 1; margin-top: 0; top: 0; }
  #plc { width: 100%; height: 100%; position: relative; }
  #plca { position: absolute; left: 50%; top: 50%; height: 200px; width: 200px; margin-top: -100px; margin-left: -100px; }
  .pli { -moz-border-radius: 50% 50% 50% 50%; -webkit-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; position: absolute; border-left: 5px solid #1890ff; border-right: 5px solid #1890ff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; -webkit-animation: animate 2s infinite; animation: animate 2s infinite; }
  #pli1 { left: 70px; top: 70px; width: 50px; height: 50px; }
  #pli2 { left: 60px; top: 60px; width: 70px; height: 70px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
  #pli3 { left: 50px; top: 50px; width: 90px; height: 90px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
  #pli4 { left: 40px; top: 40px; width: 110px; height: 110px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
  @-webkit-keyframes animate {
    50% { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  }
  @keyframes animate {
    50% { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  }
  #plit { position: absolute; color: #1890ff; text-align: center; width: 100%; bottom: 5px; font-size: 24px; }
</style>
<div id="pl">
  <div id="plc">
    <div id="plca">
      <div class="pli" id="pli1"></div>
      <div class="pli" id="pli2"></div>
      <div class="pli" id="pli3"></div>
      <div class="pli" id="pli4"></div>
      <div id="plit">loading...</div>
    </div>
  </div>
</div>
