<style>
  body { margin: 0; }
  #pl { height: 100%; width: 100%; position: fixed; z-index: 1; margin-top: 0; top: 0; }
  #plc { width: 100%; height: 100%; position: relative; }
  #plca { position: absolute; left: 50%; top: 50%; height: 2rem; width: 2rem; margin-top: -1rem; margin-left: -1rem; }
  .pli { -moz-border-radius: 50% 50% 50% 50%; -webkit-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; position: absolute; border-left: 5px solid #1890ff; border-right: 5px solid #1890ff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; -webkit-animation: animate 2s infinite; animation: animate 2s infinite; }
  #pli1 { left: .7rem; top: .7rem; width: .5rem; height: .5rem; }
  #pli2 { left: .6rem; top: .6rem; width: .7rem; height: .7rem; -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
  #pli3 { left: .5rem; top: .5rem; width: .9rem; height: .9rem; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
  #pli4 { left: .4rem; top: .4rem; width: 1.1rem; height: 1.1rem; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
  @-webkit-keyframes animate {
    50% { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  }
  @keyframes animate {
    50% { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  }
  #plit { position: absolute; color: #1890ff; text-align: center; width: 100%; bottom: 0.05rem; font-size: .24rem; }
</style>
<div id="pl">
  <div id="plc">
    <div id="plca">
      <div class="pli" id="pli1"></div>
      <div class="pli" id="pli2"></div>
      <div class="pli" id="pli3"></div>
      <div class="pli" id="pli4"></div>
      <div id="plit">loading...</div>
    </div>
  </div>
</div>
