.container {
  width: 700px;
  min-height: 400px;
  margin: 50px auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.title {
  background: #7cb305;
  height: 48px;
  line-height: 48px;
  color: #fff;
  padding-left: 10px;
  font-size: 32px;
  font-weight: bold;
}
.body {
  padding: 10px 20px;
  margin-bottom: 20px;
  .link:link,
  .link:visited {
    color: #389e0d;
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
  }

  .link:hover,
  .link:active {
    color: #1890ff;
  }
}
.list {
  li {
    list-style-type: decimal;
    border-bottom: 1px dashed #ddd;
  }
}

.footer {
  height: 36px;
  .goback {
    float: right;
    margin-right: 20px;
    background-color: white;
    color: black;
    border: 1px solid #4caf50;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
  }
}

.hot {
  color: #fa8c16;
}

.tip {
  padding: 30px;
  color: #999;
}

.btn {
  background-color: #1890ff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}
